.allRestaurants {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    text-align: right;
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  
  .picAllRes {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
  