.card {
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #F9F4EA;

    &.restaurant-card {
      width: 245px;
      height: 232.8px;
    }
  
    &.dish-card {
      width: 245px;
      height: 388px;
    }
  
    &.chef-card {
      width: 245px; 
      height: 233.34px;   
    }
    
    img {
        width: 245px;
        height: 151px;
    }
  
    .card-content {
      text-align: left;

      .icon-dish{
        display: flex;
        width: 30px;
        height: 24px;
        padding: 0px 0.183px 1.022px 0px;
        justify-content: center;
        align-items: center;
      }

      .icon-nis{
        width: 8.105px;
        height: 11px;  
      }

      .card-title {
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.67px;
      }
  
      .card-subtitle {
        font-size: 16px;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 1.97px;
        width: 209px;
        height: 100px;

      }


      .price-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 19px;
        width: 20px;


        .card-price{
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 1.97px;
        }
      }
    }

    @media (min-width: 901px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .card-content {
        align-items: center;
        padding: 24px 0px 8px 0px;
        gap: 8px;
        flex: 1 0 0;
        align-self: stretch;
  
        .icon-dish{
          display: flex;
          width: 40px;
          height: 31px;
          justify-content: center;
          align-items: center;
        }
  
        .icon-rating{
          width: 216px;
          height: 40px;
        }
  
        .icon-nis{
          width: 14px;
          height: 19px;   
        }
  
        .card-title {
          text-align: center;
          font-size: 35px;
          font-weight: 400;
          line-height: 47px;
          letter-spacing: 2.67px;
        }
    
        .card-subtitle {
          text-align: center;
          font-size: 24px;
          font-weight: 200;
          line-height: 30px;
          letter-spacing: 1.97px;
          width: 380px;
          height: 654px;
        }
  
  
        .price-container{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;
          height: 30px;
          width: 29px;
  
  
          .card-price{
              text-align: center;
              font-size: 24px;
              font-weight: 200;
              line-height: 30px;
              letter-spacing: 1.97px;
          }
        }
    }

    &.restaurant-card {
      width: 380px;
      height: 405px;
      img {
        width: 380px;
        height: 236px;
      }
    }

    &.dish-card {
      width: 380px;
      height: 654px;
      img {
        width: 380px;
        height: 654px;
      }
    }

    &.chef-card {
      width: 231px;
      height: 357px;
      img {
        width: 231px;
        height: 357px;
      }
    }

  }
}