.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px;

  .navbar-images {
    img {
      height: 24px;
      margin: 5px;
    }
  }

  .logo {
    height: 32px;
  }

  .nav-labels {
    display: flex;
    align-items: center;

    .branding {
      display: flex;
      gap: 10px;
    }

    h1 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: normal;
    }
  }
}
