.swiperSlideCarousel{
    width: 245px !important;

    @media (min-width: 901px) {
      width:381px !important;
  }
 }

 .swiperSlideChef{
  width: 245px !important;
 }

.allRestaurants {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 2px;
    text-transform: capitalize;
    @media (min-width: 901px) {
      justify-content: flex-end;
  }
}
  
  .picAllRes {
    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
  