.contact-us {
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.92px; 
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 24px;
    margin: 0px;
    
    
        
    li {
        list-style-type: none;
        margin-top: 10px;

    }

    @media (min-width: 901px) {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        margin: 0 auto;
        height: 85px;
    }
    
}
