.contact-us {
    text-align: left;
    padding-inline-start: 0px;
    background-color: #FFF;
    flex-shrink: 0;
    height: 202px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    li {
        list-style-type: none;
        margin-top: 10px;
    }

    @media (min-width: 901px) {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        margin: 0 auto;
        height: 85px;
    }
    
}
