
@font-face {
    font-family:'HelveticaNeueRegular';
    src: local('HelveticaNeueRegular'), url('./data/UI/fonts/HelveticaNeueRegular.woff'), format('woff');
    font-weight: normal;
    font-style: normal;
  }