.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #fff;
  padding: 5px;
  width: 100%;


  .navbar-images {
    img{
      height: 24px;
      margin: 5px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 10px; 
    
  }
}

@media (max-width: 900px) {

}
